/Bai3/Bai3/nbproject/private/
/Bai3/Bai3/build/
/Bai3/MDIForm/nbproject/private/
/Bai2/SneeknoteUI/dist/
/Bai3/MDIForm/build/
/QLBH/nbproject/private/
/QLBH/build/
/MD5/nbproject/private/
/MD5/build/
